nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") MACHA
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="section_about") 簡介 ABOUT
      li 
        a(href="section_video") 影片 VIDEO
      li
        a(href="https://www.tokichi.jp/chinese_traditional/tea/tea_matcha.html") 抹茶の店 SHOP
        
header.jumbotron
  .container
    h1 抹茶の異想世界
    hr
    h4 帶你進入抹茶天地
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 什麼是抹茶?
section#section_about
  .container
    .row
      .col-sm-4
        img(src="https://goo.gl/s19uU9",alt="")
        h3 何謂抹茶？
        p 抹茶是綠茶的一種，其製作是採收新芽茶葉並把它們磨成明亮的綠色粉末，接著再以熱開水攪拌。它和一般的綠茶不同，綠茶是讓茶葉在水裡浸泡後移除。喝泡好的綠茶「有點像是煮菠菜，然後拿掉菠菜，只喝它的湯，你會獲取一些營養物，可是你卻丟掉了最營養的部分。」露易絲．切德爾（Louise Cheadle）這麼說，她是抹茶飲用指南（The Book of Matcha）這本書的共同作者，也是茶豬豬（teapigs）這家英國茶公司的共同擁有人之一。至於抹茶，你喝的是全部的茶葉。
      .col-sm-4
        img(src="https://goo.gl/LuFJCb",alt="")
        h3 抹茶和綠茶相比？
        p 一般綠茶和抹茶都含咖啡因，不過比咖啡或紅茶少，而抹茶的咖啡因含量似乎又比綠茶多，也含較多的EGCG。有一家獨立試驗團體──消費者實驗公司，於2015年測試抹茶產品，發現每份抹茶含有17毫克至109毫克的EGCG，相較之下，綠茶平均的含量是25毫克至86毫克的EGCG。抹茶粉每克兒茶素含量較綠茶多，它也確實比較貴：最便宜的抹茶粉目前是以2.31美元的價格購買200毫克的EGCG，而同樣數量的綠茶只要27分美元。若與抹茶粉比，採用茶包型式的抹茶，其EGCG的含量明顯較少。
      .col-sm-4
        img(src="https://goo.gl/65HYiZ",alt="")
        h3 抹茶有何好處？
        p 如同其他綠茶一般，抹茶含一種稱為兒茶素的抗氧化劑，而抹茶的兒茶素等級最高，稱為表沒食子兒茶素沒食子酸酯，它被認為對人體有抗癌效果。許多研究已將綠茶和各式各樣對健康的好處連結一起，譬如幫助預防心臟疾病、第二型糖尿病和癌症，甚至促進體重減輕。不過要注意的是，這些研究顯示的益處，大部分不是來自臨床試驗而是來自人群研究。研究人員觀察一群喝綠茶的人，再將他們和一群不喝綠茶的人的健康狀況做比較，研究結果顯示茶和較好的健康有關聯，可是因果關係尚未得到證實，而抹茶的研究甚至比綠茶更少。
section#section_video
  .container
    .row
      .col-sm-12
        h1 抹茶蛋糕VIDEO
        hr
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/4WSoP6X7_Z8', allowfullscreen='')
